:root {
  --black: #3b434e;
  --gray: #b3c0d9;
  --gray-light: #ebebeb;
  --white: white;
  --primary: #3653fc;
  --primary-hover: #6344df;
  --red: #de0000;
  --peach: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --purple: #7653fc;
}

html,
body {
  overflow-x: hidden;

  max-width: 100vw;

  color: var(--black);
  background: #f5f6f8;
}
